
@import 'https://fonts.googleapis.com/css?family=Ubuntu';


body{

background: #FFFFFF;
margin: 0;
font-family: 'Raleway', sans-serif;

}

.wrapper
{
  width: 100%;
 
}

header
{
  width: 100%;
  height: 70px;
  background: #263844;
}

header a
{
  font-family:  'Ubuntu', sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  text-decoration: none;
  padding-left: 10px;
  margin-top: 20px;
  float:left;
  
}

header a:link, a:visited, a:hover
{

 color: #FFFFFF;
  text-decoration: none;
}


.glyphicon-fire
{
  color: #FFFFFF;
  font-size: 26px;
  float: left;
  padding-left: 45px;
  margin-left: 20px;
  margin-top: 25px;

}

.menu
{
  float: right;

}
.menu ul li
{
  display: inline-block;
  padding: 15px 20px;
}
.menu ul li a
{
  float:right;
  font-family: "Myriad Pro";
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
}
.menu ul li a:hover
{
  color: #1C97CA;

}
.container
{
  background:#F0F0FC;
  width: 100%;
  height: 550px;

}

.col-sm-6
{
  text-align: center;

}

.col-sm-6 img
{
  margin-top: 50px;
  float: right;

}

.col-sm-6 form
{
  padding-top: 30px;
}

#dropdown
{
  width: 200px;
}

.welcome
{
  text-align: center;
  width: 100%;
}

.footer
{
  width: 100%;
  height: 50px;
  background: #272822;
}

.footer p
{
  color: #FFFFFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;

}

